html, body {
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

form {
    margin: 8px 0px 0px;
}

ul.root_checkpoints, ul.childrenList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-height: 32px;
}

#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background: #B9B9DD;
}

#heading {
    margin: 10px;
    padding: 0px;
    font-size: 34px;
    font-weight: bold;
    float: left;
    color: black;
    text-decoration: none;
}

#page {
    z-index: 0;
    position: relative;
    width: 95%;
    top: 60px;
    margin: 0px 0px 25px;
    padding: 15px 25px;
    background: #FFFFFF;
}

#footer {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 15px;
    bottom: 0px;
    margin: 0px;
    padding: 10px;
    background: #BFBFBF;
    font-size: 80%;
}

.headerButton {
    float: right;
    margin: 20px;
    width: 80px;
    font-weight: bold;
}
#cancelNewGoalButton, #cancelLoginButton, #cancelCreateAccountButton {
    position: absolute;
    right: 15px;
    top: 5px;
}
#newGoalForm, #loginForm, #createAccountForm {
    position: relative;
    float: right;
    top: 22px;
    margin: 0px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background-color: #D9D9FF;
}

.hideDetailsButton, .editButton {
    margin: 5px 10px;
    font-size:10px;
}

.footerLink {
    float: left;
    margin-left: 20px;
}
#copyright {
    float: right;
    margin-right: 20px;
}

.infoPage {
    width: 75%;
    min-width: 250px;
    max-width: 700px;
}

.clickable {
    cursor: pointer;
    color: #3366EE;
    text-decoration: underline;
}

.hidden {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.invalid {
    display: block;
    color: #DC0000;
    padding: 3px;
}

.goal, .checkpoint {
    position: relative;
    margin: 8px 0px 8px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.goal {
    background-color: #D4B8DF;
}
.goal .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint  .checkpoint {
    background-color: #EEEEEE;
}

.checkpoint_status, .goal_status {
    margin: 0px 10px 0px 0px;
}
.complete {
    color: #888888 !important;
    background-color: #DFDFDF !important;
    border-color: #333333 !important;
}

.checkpoint_title, .goal_title {
    position: relative;
    margin: 0px;
    padding: 5px 5px;
    color: black;
    text-decoration: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #5555CC;
    background-color: #CFCFCC;
}
.handle {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    cursor: move;
    font-weight: bolder;
}

.goal_actions, .checkpoint_actions, .checkpoint_details_text {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.goal_details, .checkpoint_details, .checkpoint_details_snip {
    position: relative;
    margin: 0px;
    padding: 5px 25px 10px;
    border-bottom: 1px solid #5555CC;
}

.goal_details_text {
    position: relative;
    width: 80%;
    max-width: 700px;
    min-width: 250px;
}

.checkpoint_details_snip {
    font-size: 80%;
    font-weight: bold;
}

.children {
    margin: 10px 0px 0px;
}

ul .childrenList {
    list-style-type: none;
}

.addCheckpointArea, .childCount, .hideChildrenButton {
    position: relative;
    margin: 0px;
    padding: 5px 25px 10px;
    font-size: 85%;
}
.addCheckpointArea {
    color: black;
    text-decoration: none;
    min-height: 1px;
    min-width: 90%;
    padding-bottom: 5px;
    backgr/ound-color: #A0A0CD;
}
.addCheckpointButton {
    font-weight: bolder;
    margin: 0px 20px;
    font-size: 150%;
    text-decoration: none;
    /*background-color: #DFDFDD;*/
}
.addCheckpointForm {
    font-size: 12px;
    font-weight: bold;
}

.titleAddBox, .titleEditBox {
    width: 80%;
    min-width: 100px;
    max-width: 300px;
}
.detailsAddBox, .detailsEditBox {
    width: 80%;
    max-width: 500px;
    min-width: 150px;
    height: 150px;
}
.deleteButton, .deleteConfirm {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 150px;
    font-size: 80%;
    font-style: italic;
}