html, body {
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

form {
    margin: 8px 0px 0px;
}

ul.root_checkpoints, ul.childrenList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-height: 32px;
}

#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 10px;
    background: #B9B9DD;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(95,95,95,1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(95,95,95,1);
    box-shadow: 0px 1px 5px 1px rgba(95,95,95,1);
}

#heading {
    margin: 10px;
    padding: 0px;
    font-size: 34px;
    font-weight: bold;
    float: left;
    color: black;
    text-decoration: none;
}

#page {
    z-index: 0;
    position: relative;
    width: 100%;
    top: 80px;
    margin: 0px 0px 25px;
    padding: 1px 0px 15px;
    background: #FFFFFF;
}

#footer {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 15px;
    bottom: 0px;
    margin: 0px;
    padding: 10px;
    background: #BFBFBF;
    font-size: 80%;
    line-height: 80%;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(95,95,95,1);
    -moz-box-shadow: 0px -1px 5px 1px rgba(95,95,95,1);
    box-shadow: 0px -1px 5px 1px rgba(95,95,95,1);
}

.headerButton {
    float: right;
    margin: 20px;
    width: 80px;
    font-weight: bold;
    padding: 5px 0px 0px 5px;
    border-radius: 5px;
}
#cancelNewGoalButton, #cancelLoginButton, #cancelCreateAccountButton {
    position: absolute;
    right: 15px;
    top: 5px;
}
#newGoalForm, #loginForm, #createAccountForm {
    position: relative;
    float: right;
    top: 22px;
    margin: 0px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    background-color: #D9D9FF;
}
#newGoalForm, #loginForm {
    top: 22px;
}
#createAccountForm {
    top: 0px;
}

.hideDetailsButton, .editButton {
    margin: 5px 10px;
    font-size:10px;
}

.footerLink {
    position: relative;
    display: inline-block;
    /* float: left; */
    margin: 0px 0px 0px 20px;
}
#copyright {
    float: right;
    margin-right: 20px;
}

.infoPage {
    width: 75%;
    min-width: 200px;
    max-width: 700px;
    padding: 27px;
    background-color: #D9D9FF;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
    box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
}

.clickable {
    cursor: pointer;
    color: #3366EE;
    text-decoration: underline;
}

.hidden {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.invalid {
    display: block;
    color: #DC0000;
    padding: 3px;
}

.infoPage, .goal, .checkpoint {
    position: relative;
    margin: 13px 13px 13px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.sort-placeholder-highlight {
    height: 60px;
    background-color: #FFFFDD;
    margin: 13px 13px 13px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.goal, .checkpoint {
    -webkit-box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
    -moz-box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
    box-shadow: 3px 3px 5px 1px rgba(95,95,95,1);
}
.goal {
    background-color: #D4B8DF;
}
.goal .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #EEEEEE;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint {
    background-color: #D9D9FF;
}
.goal .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint .checkpoint  .checkpoint {
    background-color: #EEEEEE;
}

.checkpoint_status, .goal_status, .public_status {
    margin: 0px 10px 0px 0px;
}
.public_status {
    display: inline-block;
    cursor: default;
}
.noborder {
    border: none !important;
}
.complete {
    color: #888888 !important;
    background-color: #DFDFDF !important;
    border-color: #333333 !important;
}
.cancelled {
    color: #888888 !important;
    background-color: #DFADAD !important;
    border-color: #AB8888 !important;
}

.checkpoint_title, .goal_title {
    position: relative;
    margin: 0px;
    padding: 5px 5px;
    color: black;
    text-decoration: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #5555CC;
    background-color: #CFCFCC;
}
.handle {
    margin: 0px 10px 0px 0px;
    padding: 0px;
    cursor: move;
    font-weight: bolder;
}

.goal_actions, .checkpoint_actions, .checkpoint_details_text {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 5px;
}

.goal_details, .checkpoint_details, .checkpoint_details_snip {
    position: relative;
    margin: 0px;
    padding: 5px 25px 10px;
    border-bottom: 1px solid #5555CC;
}

.goal_details_text {
    position: relative;
    width: 80%;
    max-width: 700px;
    min-width: 250px;
}

.checkpoint_details_snip {
    font-size: 80%;
    font-weight: bold;
}

.children {
    margin: 10px 0px 0px;
}

ul .childrenList {
    list-style-type: none;
}

.addCheckpointArea, .childCount, .hideChildrenButton {
    position: relative;
    margin: 0px;
    padding: 5px 25px 10px;
    font-size: 85%;
}
.addCheckpointArea {
    color: black;
    text-decoration: none;
    max-width: 90%;
    padding-bottom: 5px;
    backgr/ound-color: #A0A0CD;
}
.addCheckpointButton {
    font-weight: bolder;
    margin: 0px 20px;
    font-size: 150%;
    text-decoration: none;
    /*background-color: #DFDFDD;*/
}
.addCheckpointForm {
    font-size: 12px;
    font-weight: bold;
}

.titleAddBox, .titleEditBox {
    width: 80%;
    min-width: 100px;
    max-width: 300px;
}
.detailsAddBox, .detailsEditBox {
    width: 80%;
    max-width: 500px;
    min-width: 150px;
    height: 150px;
}
.deleteButton, .deleteConfirm {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 150px;
    font-size: 80%;
    font-style: italic;
}

@media (max-width: 600px) {
    #header {
        position: relative;
        clear: both;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .headerButton {
        position: relative !important;
        float: none !important;
        display: inline-block !important;
        margin: 20px;
        width: 80px;
        font-weight: bold;
    }
    #loginForm {
        position: relative;
        display: inline-block;
        float: left;
        top: 0px;
        margin: 0px;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        background-color: #D9D9FF;
    }
    #newGoalForm, #createAccountForm {
        position: relative;
        display: inline-block;
        float: right;
        top: 0px;
        margin: 0px;
        padding: 10px;
        font-size: 12px;
        font-weight: bold;
        border: 1px solid #DDDDDD;
        border-radius: 3px;
        background-color: #D9D9FF;
    }
    #newGoalForm {
        width: 200px;
    }
    #page {
        position: relative;
        width: 100%;
        top: 0px;
        margin: 0px 0px 25px;
        padding: 1px 0px 15px;
        background: #FFFFFF;
    }
    .infoPage, .goal, .checkpoint {
        margin: 10px 10px 10px 10px;
    }
    #footer {
        position: relative;
        height: auto;
        padding: 0px;
        /* max-height: 120px; */
    }
    #footer div {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }
    #copyright {
        position: relative !important;
        float: none !important;
        display: inline-block !important;
        margin: 0px 0px 0px 20px !important;
    }
}